Repository deveBrice/vegan-breath-frontend, pull requests merged in 2021-01, with the labels that each got.

#42 Feature/add favorite
  angular/breathVeganFront/src/app/app-routing.module.ts
  angular/breathVeganFront/src/app/app.module.ts
  angular/breathVeganFront/src/app/models/recipe.interface.ts
  angular/breathVeganFront/src/app/models/restaurant.interface.ts
  angular/breathVeganFront/src/app/modules/generic-components-module/favorites-list/favorites-list.component.html
  angular/breathVeganFront/src/app/modules/generic-components-module/favorites-list/favorites-list.component.scss
  angular/breathVeganFront/src/app/modules/generic-components-module/favorites-list/favorites-list.component.spec.ts
  angular/breathVeganFront/src/app/modules/generic-components-module/favorites-list/favorites-list.component.ts
  angular/breathVeganFront/src/app/modules/generic-components-module/generic-components.module.ts
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-cards/vegan-cards.component.html
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-cards/vegan-cards.component.scss
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-cards/vegan-cards.component.ts
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.html
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.scss
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.ts
  angular/breathVeganFront/src/app/modules/home/body/body.component.html
  angular/breathVeganFront/src/app/modules/home/body/body.component.ts
  angular/breathVeganFront/src/app/service/favorites-manager.services.ts
  angular/breathVeganFront/src/app/service/vegan-details.service.ts
  angular/breathVeganFront/src/app/service/vegan-product-list.service.spec.ts
  angular/breathVeganFront/src/app/service/vegan-product-list.service.ts
  angular/breathVeganFront/src/styles.scss
Labels: front-office

#43 printing pages
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.html
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.ts
Labels: front-office

#44 add of a banner
  angular/breathVeganFront/src/app/modules/home/body/body.component.css
  angular/breathVeganFront/src/app/modules/home/body/body.component.html
  angular/breathVeganFront/src/app/modules/home/home.module.ts
  angular/breathVeganFront/src/assets/imgs/banner.jpg
  angular/breathVeganFront/src/shared/browser/navigation.component.html
  angular/breathVeganFront/src/shared/browser/navigation.component.scss
  angular/breathVeganFront/src/styles.scss
Labels: front-office

#45 first step fetching api
  angular/breathVeganFront/src/app/apiServices/auth.service.ts
  angular/breathVeganFront/src/app/apiServices/recepee.service.spec.ts
  angular/breathVeganFront/src/app/apiServices/recepee.service.ts
  angular/breathVeganFront/src/app/apiServices/restaurants.service.spec.ts
  angular/breathVeganFront/src/app/apiServices/restaurants.service.ts
  angular/breathVeganFront/src/app/apiServices/shop-service.service.ts
  angular/breathVeganFront/src/app/apiServices/shops.service.spec.ts
  angular/breathVeganFront/src/app/apiServices/shops.service.ts
Labels: dependencies, front-office

#47 modification for loading item
  .idea/shelf/Uncommitted_changes_before_Checkout_at_04_01_2021_14_26_[Default_Changelist]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_04_01_2021_14_26_[Default_Changelist]1/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_04_01_2021_14_26__Default_Changelist_.xml
  .idea/shelf/Uncommitted_changes_before_Checkout_at_04_01_2021_14_56_[Default_Changelist]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_04_01_2021_14_56__Default_Changelist_.xml
  .idea/shelf/Uncommitted_changes_before_Checkout_at_04_01_2021_15_04_[Default_Changelist]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_04_01_2021_15_04__Default_Changelist_.xml
  .idea/workspace.xml
  angular/breathVeganFront/src/app/models/recipe.interface.ts
  angular/breathVeganFront/src/app/models/restaurant.interface.ts
  angular/breathVeganFront/src/app/models/shop.interface.ts
  angular/breathVeganFront/src/app/modules/home/body/body.component.html
  angular/breathVeganFront/src/app/modules/home/body/body.component.ts
Labels: front-office

#48 deleting old vegqnProductListService services
  .idea/workspace.xml
  angular/breathVeganFront/src/app/app.module.ts
  angular/breathVeganFront/src/app/service/vegan-product-list.service.spec.ts
  angular/breathVeganFront/src/app/service/vegan-product-list.service.ts
Labels: bug

#49 Feature/location of distributions
  angular/breathVeganFront/material-overrides.scss
  angular/breathVeganFront/src/app/modules/home/body/body.component.css
  angular/breathVeganFront/src/app/modules/home/body/body.component.html
  angular/breathVeganFront/src/styles.scss
Labels: front-office

#52 sign up process renewal
  .idea/workspace.xml
  angular/breathVeganFront/package-lock.json
  angular/breathVeganFront/src/app/apiServices/form-control.service.ts
  angular/breathVeganFront/src/app/app-routing.module.ts
  angular/breathVeganFront/src/app/modules/registration/log-in/log-in.component.html
  angular/breathVeganFront/src/app/modules/registration/log-in/log-in.component.ts
  angular/breathVeganFront/src/app/modules/registration/signup/signup.component.html
  angular/breathVeganFront/src/app/modules/registration/signup/signup.component.ts
Labels: front-office

#53 Feature/adding item from front
  .idea/shelf/Uncommitted_changes_before_Checkout_at_04_01_2021_16_31_[Default_Changelist]/shelved.patch
  .idea/shelf/Uncommitted_changes_before_Checkout_at_04_01_2021_16_31__Default_Changelist_.xml
  .idea/workspace.xml
  angular/breathVeganFront/src/app/apiServices/common.service.spec.ts
  angular/breathVeganFront/src/app/apiServices/common.service.ts
  angular/breathVeganFront/src/app/apiServices/form-control.service.ts
  angular/breathVeganFront/src/app/apiServices/restaurants.service.ts
  angular/breathVeganFront/src/app/apiServices/shops.service.ts
  angular/breathVeganFront/src/app/app.module.ts
  angular/breathVeganFront/src/app/models/restaurant.interface.ts
  angular/breathVeganFront/src/app/models/shop.interface.ts
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.html
  angular/breathVeganFront/src/app/modules/popup/pop-up/pop-up.component.html
  angular/breathVeganFront/src/app/modules/popup/pop-up/pop-up.component.ts
  angular/breathVeganFront/src/shared/browser/navigation.component.html
  angular/breathVeganFront/src/shared/browser/navigation.component.ts
Labels: front-office

#54 Feature/get details
  angular/breathVeganFront/src/app/apiServices/common.service.ts
  angular/breathVeganFront/src/app/apiServices/restaurants.service.ts
  angular/breathVeganFront/src/app/apiServices/shops.service.ts
  angular/breathVeganFront/src/app/modules/generic-components-module/generic-components.module.ts
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-cards/vegan-cards.component.html
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-cards/vegan-cards.component.ts
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.html
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.scss
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.ts
  angular/breathVeganFront/src/app/service/vegan-details.service.ts
Labels: front-office

#56 add of header responsive
  angular/breathVeganFront/src/app/modules/home/body/body.component.css
  angular/breathVeganFront/src/app/modules/home/body/body.component.html
  angular/breathVeganFront/src/shared/browser/navigation.component.html
  angular/breathVeganFront/src/shared/browser/navigation.component.scss
  angular/breathVeganFront/src/shared/browser/navigation.component.ts
  angular/breathVeganFront/src/shared/browser/navigation.module.ts
  angular/breathVeganFront/src/styles.scss
Labels: front-office

#57 Feature/api last
  angular/breathVeganFront/src/app/apiServices/common.service.ts
  angular/breathVeganFront/src/app/apiServices/recepee.service.ts
  angular/breathVeganFront/src/app/apiServices/restaurants.service.ts
  angular/breathVeganFront/src/app/apiServices/shops.service.ts
  angular/breathVeganFront/src/app/apimap/apimap.component.ts
  angular/breathVeganFront/src/app/app-routing.module.ts
  angular/breathVeganFront/src/app/app.module.ts
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.html
  angular/breathVeganFront/src/app/modules/generic-components-module/vegan-details/vegan-details.component.ts
  angular/breathVeganFront/src/app/modules/home/body/body.component.css
  angular/breathVeganFront/src/app/modules/home/body/body.component.html
  angular/breathVeganFront/src/app/modules/home/body/body.component.ts
  angular/breathVeganFront/src/app/modules/popup/pop-up/pop-up.component.css
  angular/breathVeganFront/src/app/modules/popup/pop-up/pop-up.component.html
  angular/breathVeganFront/src/app/modules/popup/pop-up/pop-up.component.ts
  angular/breathVeganFront/src/app/modules/registration/log-in/log-in.component.html
  angular/breathVeganFront/src/app/modules/registration/signup/signup.component.html
  angular/breathVeganFront/src/app/modules/registration/signup/signup.component.ts
  angular/breathVeganFront/src/app/modules/restaurants/restaurants-list/restaurants-list.component.css
  angular/breathVeganFront/src/app/modules/restaurants/restaurants-list/restaurants-list.component.html
  angular/breathVeganFront/src/app/modules/restaurants/restaurants-list/restaurants-list.component.ts
  angular/breathVeganFront/src/app/modules/restaurants/restaurants-routing.module.ts
  angular/breathVeganFront/src/app/modules/restaurants/restaurants.module.ts
  angular/breathVeganFront/src/shared/browser/navigation.component.html
  angular/breathVeganFront/src/shared/browser/navigation.component.ts
  angular/breathVeganFront/src/shared/browser/navigation.module.ts
  angular/breathVeganFront/src/styles.scss
Labels: front-office

#58 show hide menu navbar
  angular/breathVeganFront/src/app/modules/home/body/body.component.css
  angular/breathVeganFront/src/app/modules/home/body/body.component.html
  angular/breathVeganFront/src/shared/browser/navigation.component.html
Labels: front-office

#59 add file for to deploy
  angular/breathVeganFront/package-lock.json
  angular/breathVeganFront/package.json
  angular/breathVeganFront/server.js
  angular/breathVeganFront/src/app/apiServices/auth.service.ts
  angular/breathVeganFront/src/app/apiServices/recepee.service.ts
  angular/breathVeganFront/src/app/apiServices/restaurants.service.ts
  angular/breathVeganFront/src/app/apiServices/shop-service.service.ts
  angular/breathVeganFront/src/app/apiServices/shops.service.ts
Labels: front-office

#61 Feature/voir les magasins
  package-lock.json
  package.json
  src/app/apiServices/common.service.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/modules/generic-components-module/vegan-cards/vegan-cards.component.ts
  src/app/modules/restaurants/restaurants-list/restaurants-list.component.ts
  src/app/modules/resto-detail/resto-detail.component.css
  src/app/modules/resto-detail/resto-detail.component.html
  src/app/modules/resto-detail/resto-detail.component.spec.ts
  src/app/modules/resto-detail/resto-detail.component.ts
  src/app/modules/store/store.component.css
  src/app/modules/store/store.component.html
  src/app/modules/store/store.component.spec.ts
  src/app/modules/store/store.component.ts
  src/shared/browser/navigation.component.ts
Labels: front-office

#62 Feature/remove postion favorite icon
  src/app/modules/generic-components-module/vegan-cards/vegan-cards.component.html
  src/app/modules/generic-components-module/vegan-cards/vegan-cards.component.scss
Labels: front-office
